NAVER_CLIENT_ID=""
NAVER_CLIENT_SECRET=""

NAVER_AD_CUSTOMER_ID=""
NAVER_AD_LICENSE=""
NAVER_AD_SECRET=""

KAKAO_API_KEY=""
YOUTUBE_API_KEY=""
GEMINI_API_KEY=""

TMDB_API_KEY=""
TMDB_READ_ACCESS_TOKEN=""

OLLAMA_BASE_URL="http://localhost:11434"
OLLAMA_MODEL="exaone3.5:7.8b"
